.td-form-list-p{

}
.td-form-list__item__description.done{
    /* color: #ddd; */
    /* text-decoration: line-through; */
}
.td-form-list-s{
    margin-bottom: 10px;
}
.td-form-list__item{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #fff;
}
.td-form-list__item.done{
    background: #dff5c7;
}

.td-form-list__item__p.high{
    color: red;
}
.td-form-list__item__p.med{
    color: yellow;
}
.td-form-list__item__p.low{
    color: green;
}
.td-form-list__item__complete-btn{
    color: #ccc;
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.td-form-list__item__complete-btn.done{
    color: var(--main-color);
}
.to-form-list__item__del-btn{
    color: red;
    font-size: 1.2rem;
}
.td-form-list__item__description {
    width: 70%;
}