.td-form-list-p{

}
.td-form-list__item__description.done{
    color: #ddd;
    text-decoration: line-through;
}
.td-form-list-s{
    margin-bottom: 10px;
}
.td-form-list__item{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}
.td-form-list__item__p.high{
    color: red;
}
.td-form-list__item__p.med{
    color: yellow;
}
.td-form-list__item__p.low{
    color: green;
}
.td-form-list__item__complete-btn{
    background-color:var(--main-color);
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.to-form-list__item__del-btn{
    background-color: red;
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}