/* @import url("https://store.app.vhi.ie/logon/themes/Default/css/custom.css?v=4ecb5abf6e4b1655c07386a2c958597c"); */
:root{
  --main-color: #4285F4;
}

@import url(//fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300;800&display=swap);

body{
  background-color: #f1f1f1;
}

*{
  font-family: Montserrat;
  font-weight: 400;
}

.td-app{
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.td-text-input{
  border: 0;
  border-bottom: 1px solid #09c;
  padding: 10px 10px;
}

.td-gat-r-10{
  margin-right: 10px;
}
.td-gap-b-30{
  margin-bottom: 30px;
}

.td-gap-b-20{
  margin-bottom: 20px;
}

.td-modal{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .7);
  z-index: 1000;
}

.td-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.td-header__menu-icon{
  font-size: 1.4rem;
  color: #777;
}
.td-header__menu-bell{
  font-size: 1.4rem;
  color: #777;
}


/* for tablets */
@media only screen and (min-width: 600px) {

}

/* for desktop */
@media only screen and (min-width:768px) {
  body, html, div, input, button{
    letter-spacing:1px;
  }
  
  .td-app{
    padding: 20px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

}

