/* @import url("https://store.app.vhi.ie/logon/themes/Default/css/custom.css?v=4ecb5abf6e4b1655c07386a2c958597c"); */


body, html, div, input, button{
  letter-spacing:1px;
}

.td-app{
  padding: 20px;
}

.td-text-input{
  border: 0;
  border-bottom: 1px solid #09c;
  padding: 10px 10px;
}

.td-btn{
  background: #09c;
  padding: 7px 10px;
  color: #fff;
  border:0;
  border-radius: 3px;
  text-transform: capitalize;
}

.td-gat-r-10{
  margin-right: 10px;
}
.td-gap-b-30{
  margin-bottom: 30px;
}

.td-gap-b-20{
  margin-bottom: 20px;
}

.td-modal{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .7);
  z-index: 1000;
}